---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&per_page=1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=517&per_page=1&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&per_page=1&query=denver>;
        rel="next"
      X-Total:
      - '517'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":517,"total_pages":517,"results":[{"id":"tjoxkIODoCE","created_at":"2018-12-30T03:02:24-05:00","updated_at":"2020-02-28T00:04:06-05:00","promoted_at":null,"width":5472,"height":3648,"color":"#151613","description":null,"alt_description":"aerial
        photo of city","urls":{"raw":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODE3NX0","full":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODE3NX0","regular":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODE3NX0","small":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODE3NX0","thumb":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODE3NX0"},"links":{"self":"https://api.unsplash.com/photos/tjoxkIODoCE","html":"https://unsplash.com/photos/tjoxkIODoCE","download":"https://unsplash.com/photos/tjoxkIODoCE/download","download_location":"https://api.unsplash.com/photos/tjoxkIODoCE/download"},"categories":[],"likes":29,"liked_by_user":false,"current_user_collections":[],"user":{"id":"3NS5bv8kZU4","updated_at":"2020-02-18T14:02:47-05:00","username":"theadventurebitch","name":"Cassie
        Gallegos","first_name":"Cassie","last_name":"Gallegos","twitter_username":"adventure_bitch","portfolio_url":"Https://www.theadventurebitch.com","bio":"Personal
        Instagram: @TheAdventureBitch\r\nPhotography Instagram: @TejasPrints","location":"Denver,
        CO","links":{"self":"https://api.unsplash.com/users/theadventurebitch","html":"https://unsplash.com/@theadventurebitch","photos":"https://api.unsplash.com/users/theadventurebitch/photos","likes":"https://api.unsplash.com/users/theadventurebitch/likes","portfolio":"https://api.unsplash.com/users/theadventurebitch/portfolio","following":"https://api.unsplash.com/users/theadventurebitch/following","followers":"https://api.unsplash.com/users/theadventurebitch/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Theadventurebitch","total_collections":5,"total_likes":0,"total_photos":17,"accepted_tos":true},"tags":[{"type":"landing_page","title":"landscape","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"landscape","pretty_slug":"Landscape"}},"title":"Landscape
        Images","subtitle":"Download free landscape images","description":"Choose
        from a curated selection of landscape photos. Always free on Unsplash.","meta_title":"900+
        Landscape Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free landscape photos. Download HD landscape pictures for
        free on Unsplash.","cover_photo":{"id":"sR7_ImYvt1Q","created_at":"2017-08-15T04:36:19-04:00","updated_at":"2020-02-14T00:02:38-05:00","promoted_at":"2017-08-15T06:20:46-04:00","width":3968,"height":2232,"color":"#030502","description":"Rocky
        Mountain","alt_description":"photo of body of water between trees and mountain","urls":{"raw":"https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&c[...]
