---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 23:50:17 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 588ms
      X-Forecast-Api-Calls:
      - '8'
      X-Response-Time:
      - 76.622ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583279417,"summary":"Clear","icon":"clear-day","nearestStormDistance":21,"nearestStormBearing":283,"precipIntensity":0,"precipProbability":0,"temperature":58.79,"apparentTemperature":58.79,"dewPoint":11.08,"humidity":0.15,"pressure":1012.2,"windSpeed":8.86,"windGust":16.54,"windBearing":282,"cloudCover":0.08,"uvIndex":0,"visibility":10,"ozone":334},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583279400,"precipIntensity":0,"precipProbability":0},{"time":1583279460,"precipIntensity":0,"precipProbability":0},{"time":1583279520,"precipIntensity":0,"precipProbability":0},{"time":1583279580,"precipIntensity":0,"precipProbability":0},{"time":1583279640,"precipIntensity":0,"precipProbability":0},{"time":1583279700,"precipIntensity":0,"precipProbability":0},{"time":1583279760,"precipIntensity":0,"precipProbability":0},{"time":1583279820,"precipIntensity":0,"precipProbability":0},{"t[...]
