---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 00:44:23 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 306ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 85.019ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583282663,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":142,"precipIntensity":0,"precipProbability":0,"temperature":56.5,"apparentTemperature":56.5,"dewPoint":10.41,"humidity":0.16,"pressure":1012.8,"windSpeed":7.81,"windGust":17.26,"windBearing":317,"cloudCover":0.05,"uvIndex":0,"visibility":10,"ozone":332.3},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583282640,"precipIntensity":0,"precipProbability":0},{"time":1583282700,"precipIntensity":0,"precipProbability":0},{"time":1583282760,"precipIntensity":0,"precipProbability":0},{"time":1583282820,"precipIntensity":0,"precipProbability":0},{"time":1583282880,"precipIntensity":0,"precipProbability":0},{"time":1583282940,"precipIntensity":0,"precipProbability":0},{"time":1583283000,"precipIntensity":0,"precipProbability":0},{"time":1583283060,"precipIntensity":0,"precipProbability":0},{"t[...]
