---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Mar 2020 03:09:49 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 887ms
      X-Forecast-Api-Calls:
      - '2'
      X-Response-Time:
      - 63.155ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583032189,"summary":"Overcast","icon":"cloudy","nearestStormDistance":121,"nearestStormBearing":267,"precipIntensity":0,"precipProbability":0,"temperature":48.11,"apparentTemperature":46.62,"dewPoint":6.91,"humidity":0.18,"pressure":1010.1,"windSpeed":4.08,"windGust":6.26,"windBearing":223,"cloudCover":0.96,"uvIndex":0,"visibility":10,"ozone":305.5},"minutely":{"summary":"Overcast
        for the hour.","icon":"cloudy","data":[{"time":1583032140,"precipIntensity":0,"precipProbability":0},{"time":1583032200,"precipIntensity":0,"precipProbability":0},{"time":1583032260,"precipIntensity":0,"precipProbability":0},{"time":1583032320,"precipIntensity":0,"precipProbability":0},{"time":1583032380,"precipIntensity":0,"precipProbability":0},{"time":1583032440,"precipIntensity":0,"precipProbability":0},{"time":1583032500,"precipIntensity":0,"precipProbability":0},{"time":1583032560,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
