---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 18:51:56 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 538ms
      X-Forecast-Api-Calls:
      - '53'
      X-Response-Time:
      - 103.826ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583175116,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":359,"precipIntensity":0,"precipProbability":0,"temperature":40.03,"apparentTemperature":36.58,"dewPoint":27.3,"humidity":0.6,"pressure":1008.5,"windSpeed":5.23,"windGust":17.26,"windBearing":10,"cloudCover":0.05,"uvIndex":4,"visibility":10,"ozone":351},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583175060,"precipIntensity":0,"precipProbability":0},{"time":1583175120,"precipIntensity":0,"precipProbability":0},{"time":1583175180,"precipIntensity":0,"precipProbability":0},{"time":1583175240,"precipIntensity":0,"precipProbability":0},{"time":1583175300,"precipIntensity":0,"precipProbability":0},{"time":1583175360,"precipIntensity":0,"precipProbability":0},{"time":1583175420,"precipIntensity":0,"precipProbability":0},{"time":1583175480,"precipIntensity":0,"precipProbability":0},{"t[...]
