---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 20:18:09 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 338ms
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 71.484ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583266689,"summary":"Clear","icon":"clear-day","nearestStormDistance":215,"nearestStormBearing":19,"precipIntensity":0,"precipProbability":0,"temperature":60.22,"apparentTemperature":60.22,"dewPoint":17.66,"humidity":0.19,"pressure":1009.2,"windSpeed":8.05,"windGust":13.39,"windBearing":354,"cloudCover":0.03,"uvIndex":4,"visibility":10,"ozone":334.2},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583266680,"precipIntensity":0,"precipProbability":0},{"time":1583266740,"precipIntensity":0,"precipProbability":0},{"time":1583266800,"precipIntensity":0,"precipProbability":0},{"time":1583266860,"precipIntensity":0,"precipProbability":0},{"time":1583266920,"precipIntensity":0,"precipProbability":0},{"time":1583266980,"precipIntensity":0,"precipProbability":0},{"time":1583267040,"precipIntensity":0,"precipProbability":0},{"time":1583267100,"precipIntensity":0,"precipProbability":0},{"t[...]
